*{margin:0px}
.inline{display:inline-block;vertical-align:top}
a{font-weight:bold;text-decoration:none}
a,a:visited,a:hover,a:active {color:#00AFF1;font-weight:normal}
a:hover {text-decoration:underline}
body{font-family:'Open Sans','Helvetica',sans-serif;overflow-y:scroll;font-size:13px;}
button{padding:0.3em;height:2.3em}
h1,h2,h3{padding:0.6em;color:#00aff1;font-weight:normal}
h1{font-size:18px}
h4{font-weight:normal;margin:1.2em;font-size:15px;color:#58595b}
legend{color:#58595b;font-size:16px}
table{border-collapse:collapse;}

#fixedTopBar{z-index:9}
#sidebar{z-index:99}

/*default cells*/
th,td{border:1px solid #aaa;padding:0.4em;}
th{font-weight:normal;background:#00adef;color:white;vertical-align:middle}

hr{display:block;height:1px;border:0;margin:0;padding:0;}

/*highlight inputs when mouse goes over a row that has a formula*/
tr.isCV{background:#f6f6f6}
tr{transition:all 0.3s}
tr[hl=yes]{background:#a7bfaf;color:white}
tr[hl=no]{background:default}
tr[hl_output=yes]{background:#e1cfc4;color:white}
tr[hl_output=no]{background:default}

span.estimated{color:red;font-size:16px;cursor:help}

/*ECAM blue*/.blue{background:#00AFF1;}
/*ECAM red*/.red{background:#d71d24;}

/*BUTTONS*/
	.button
	{        
		display: inline-block;
		white-space: nowrap;
		background-color: #ddd;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
		background-image: -webkit-linear-gradient(top, #eee, #ccc);
		background-image: -moz-linear-gradient(top, #eee, #ccc);
		background-image: -ms-linear-gradient(top, #eee, #ccc);
		background-image: -o-linear-gradient(top, #eee, #ccc);
		background-image: linear-gradient(top, #eee, #ccc);
		border: 1px solid #777;
		padding: 0 1.5em;
		margin: 0.5em;
		font: bold 1em/2em Arial, Helvetica;
		text-decoration: none;
		color: #333;
		border-radius: .2em;
	}

	.button:hover
	{
		background-color: #eee;        
		background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
		background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
		background-image: -moz-linear-gradient(top, #fafafa, #ddd);
		background-image: -ms-linear-gradient(top, #fafafa, #ddd);
		background-image: -o-linear-gradient(top, #fafafa, #ddd);
		background-image: linear-gradient(top, #fafafa, #ddd);
	}

	.button:active
	{
		-moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
		-webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
		box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
		position: relative;
		top: 1px;
	}

	.button:focus
	{
		outline: 0;
		background: #fafafa;
	}    

	.button:before
	{
		background: #ccc;
		background: rgba(0,0,0,.1);
		float: left;        
		width: 1em;
		text-align: center;
		font-size: 1.5em;
		margin: 0 1em 0 -1em;
		padding: 0 .2em;
		-moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
		-webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
		box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
		-moz-border-radius: .15em 0 0 .15em;
		-webkit-border-radius: .15em 0 0 .15em;
		border-radius: .15em 0 0 .15em;     
		pointer-events: none;		
	}

	/* Buttons and inputs */

	button.button
	{ 
		cursor: pointer;
		overflow: visible; /* removes extra side spacing in IE */
	}

	/* removes extra inner spacing in Firefox */
	button::-moz-focus-inner 
	{
		border: 0;
		padding: 0;
	}

	/* If line-height can't be modified, then fix Firefox spacing with padding */
	input::-moz-focus-inner 
	{
		padding: .4em;
	}

	/* The disabled styles */
	.button[disabled], .button[disabled]:hover, .button.disabled, .button.disabled:hover 
	{
		background: #eee;
		color: #aaa;
		border-color: #aaa;
		cursor: default;
		text-shadow: none;
		position: static;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;		
	}

	/* Hexadecimal entities for the icons */
	.add:before
	{
		content: "\271A";
	}

	.edit:before
	{
		content: "\270E";        
	}

	.delete:before
	{
		content: "\2718";        
	}

	.save:before
	{
		content: "\2714";        
	}

	.next:before
	{
		content: "\279C";
	}

	.prev:before
	{
		content: "\279C";
		transform: rotate(180deg);
		border-radius:0;
		box-shadow: -1px 0 0 0 rgba(0,0,0,.5);
	}
/*end buttons*/

/*cards*/
	.card{
		border-radius:0em;
		border:1px solid #ccc;
		transition:all 0.2s linear;
		margin:5px 4px 7px 5px;
		max-height:1200px;
		background:white;
		opacity:0.98;
		overflow:auto;
		box-shadow: 0 1px 2px rgba(0,0,0,.1);
	  box-sizing: border-box;
	}
	.card:active { border-color:#666; }
	.card.folded{ max-height:3.0em; overflow:hidden; }
	.card.folded > *:nth-child(n+2) { opacity:0; }
	.card .menu {
		text-align:left;
		opacity:1;
		background:#f6f6f6;
		cursor:pointer;
	}
	.card .menu button {
		margin-left:-1px;
		margin-top:-1px;
		border-radius:0;
	}
	.card        .menu button:before {content:"v";}
	.card.folded .menu button:before {content:">";}
/*end cards*/

