<!doctype html><html><head>
  <meta charset="utf-8">
  <title>ipcc 2019 rework</title>
  <style>
    body{
      background:#f5f5f5;
      overflow-y:scroll;
    }
    table{
      border-collapse:collapse;
    }
    input[type=number]{
      text-align:right;
    }
    details summary{
      background:lightblue;
      cursor:pointer;
      outline:none;
      user-select:none;
    }
  </style>
  <!--vue--><script src="frontend/vue/vue-dev.js"></script>

  <!--backend-->
  <script>
    class Scenario{
      constructor(){
        //Wastewater
        this.Waste={
          //Collection Wastewater
          Collection:{
            //untreated wastewater discharge
            wwu_vol_disc_fsh:0,
            wwu_vol_disc_agr:0,
            wwu_vol_disc_ldi:0,
          },

          //Treatment plant
          Treatment:{
            wwt_vol_disc_fsh:0,
            wwt_vol_disc_agr:0,
            wwt_vol_disc_ldi:0,
          },

          //Onsite sanitation
          Onsite:{
            wwo_vol_disc_fsh:0,
            wwo_vol_disc_agr:0,
            wwo_vol_disc_ldi:0,
          },
        };
      }

      /*ESTIMATIONS*/
      Days(){return 1} //assessment period
    };

    let Info={
      //Collection
      wwu_vol_disc_fsh:"Volume of untreated wastewater discharged sent to freshwater (m3)",
      wwu_vol_disc_agr:"Volume of untreated wastewater discharged sent to agricultural soils (m3)",
      wwu_vol_disc_ldi:"Volume of untreated wastewater discharged sent to land disposal of wastewater (m3)",

      //Treatment plant
      wwt_vol_disc_fsh:"Volume of treated wastewater discharged sent to freshwater (m3)",
      wwt_vol_disc_agr:"Volume of treated wastewater discharged sent to agricultural soils (m3)",
      wwt_vol_disc_ldi:"Volume of treated wastewater discharged sent to land disposal of wastewater (m3)",

      //Onsite treatment
      wwo_vol_disc_fsh:"Volume of treated wastewater discharged sent to freshwater (m3)",
      wwo_vol_disc_agr:"Volume of treated wastewater discharged sent to agricultural soils (m3)",
      wwo_vol_disc_ldi:"Volume of treated wastewater discharged sent to land disposal of wastewater (m3)",
    };
  </script>
</head><body>

<h1>ecam v3 - ipcc 2019 stages rework</h1>

<!--diagram-->
<div style="margin-bottom:10px">
  <details open style="border:1px solid #ccc">
    <summary><b>Diagram</b></summary>
    <div>
      <img src="frontend/diagram/map.dot.svg" style="display:block;width:100%">
    </div>
  </details>
</div>

<div style="margin-bottom:10px">
  <div id=app>
    <!--main container-->
    <details open>
      <summary><b>Stages (inputs only) (~demo)</b></summary>
      <div style="padding-left:10px">
        <!--stages-->
        <div style="font-size:large;margin:1em 0">
          <div>
            <button onclick="document.querySelectorAll('#stages details').forEach(el=>el.setAttribute('open',''))">open all stages</button>
            <button onclick="document.querySelectorAll('#stages details').forEach(el=>el.removeAttribute('open'))">collapse all stages</button>
          </div>
        </div>
        <div id=stages>
          <!--Wastewater-->
          <stage :scenario="scenario" :stage="scenario.Waste" :name="'Wastewater'" :level2="['Collection','Treatment','Onsite']"></stage>
        </div>
      </div>
    </details>
  </div>
  <script>
    Vue.component('stage',{
      props:[
        'stage',
        'scenario',
        'name',
        'level2',
      ],
      data:function(){
        return {
          Info,
        };
      },
      methods:{
        get_inputs(){
          return Object.keys(this.stage).filter(key=>{
            return typeof(this.stage[key])!='object';
          });
        },
      },
      template:`
        <div>
          <details open v-if="scenario && stage && name" style="margin-bottom:10px">
            <summary><b>{{name}}</b></summary>
            <div>
              <table border=1>
                <tr v-for="key in get_inputs()">
                  <td>
                    <div>
                      <code style="background:#ccc">{{key}}</code>
                    </div>
                  </td>
                  <td>
                    <div>
                      {{Info[key]}}
                    </div>
                  </td>
                  <td>
                    <input type=number v-model.number="stage[key]">
                  </td>
                </tr>
              </table>

              <!--level 2-->
              <div v-if="level2" style="padding-left:10px;margin-top:10px">
                <div v-for="l2 in level2">
                  <stage :scenario="scenario" :stage="stage[l2]" :name="name+' / '+l2"></stage>
                </div>
              </div>
            </div>
          </details>
          <div v-if="!scenario">no scenario</div>
          <div v-if="!stage">no stage</div>
          <div v-if="!name">no name</div>
        </div>
      `,
    });
    let app=new Vue({
      el:"#app",
      data:{
        scenario:new Scenario(),
        Info,
      },
      methods:{
      },
      mounted(){
        //open all stages
        //document.querySelectorAll('#stages details').forEach(el=>el.setAttribute('open',''));
      },
    });
  </script>
</div>
